header {
    z-index: 9;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999;

    .navbar {
        background-color: transparent !important;
        padding: 5px 0px !important;
        .logo {
            display: inline-block;
            max-width: 140px; 
            img {
                object-fit: contain !important;
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0px !important;
                filter: brightness(0) invert(1);
                transition: all 0.3s linear;
          
            }
            @media (max-width: 767px) {
                max-width: 100px; 
            }
        }
    

        .navbar-toggler {
            background-color: $secondary-color !important;
            color: white !important;
            .navbar-toggler-icon {
                background-image: none !important;
                padding: 5px;

                @media (max-width: 440px) {
                    font-size: 16px !important;
                }
            }
        }

        .mysidenav {
            display: flex;
            gap: 100px;
            @media (max-width: 991px) {
                position: absolute;
                top: 0px;
                right: 0px;
                background-color: #363636;
                padding: 20px;
                min-width: 350px;
                height: 100vh;
                display: none;
            }
            @media (max-width: 480px) {
           min-width: 100%;
            }
            .navbar-toggler {
                display: none;
                margin-left: auto;
                margin-bottom: 0px;

                @media (max-width: 991px) {
                    display: block;
                }
            }

            .navbar-nav {
                flex: 1;
                justify-content: center;

                .nav-item {
                    padding: 10px;

                    @media (max-width: 1199px) {
                        padding: 5px;
                    }

                    .nav-link {
                        font-size: 18px;
                        letter-spacing: 1px;
                        color: white !important;
                        text-transform: uppercase;
                    }

                    .active {
                        color: white !important;
                    }
                }
            }

            .contact-number {
                color: white;

                @media (max-width: 991px) {
                    display: none;
                }

                .number {
                    font-size: 20px;
                    font-family: $heading-fonts;
                    letter-spacing: 1px;
                }

                .text-label {
                    font-size: 16px;
                }
            }
        }
    }
}

header.sticky-header {
    background-color: #424242;
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 4px gray;
.logo{
    max-width: 90px !important;
    img {
        filter: brightness(0) invert(1) !important;
    }
}
  

    .mysidenav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: white !important;

                }

                .active {
                    color: white !important;
                }
            }
        }

        .contact-number {
            color: white !important;
        }
    }
}